Root {
    -fx-background-color: #333;
}

.button {
    -fx-background-color: #233c80;
    -fx-text-fill: #fff;
}

.label {
    -fx-text-fill: #fff
}

.textField {
    -fx-background-color: black;
    -fx-text-fill: #fff;
}

.table-view {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
}

/* Login Window */
#login {
    -fx-background-color: #333;
    -fx-text-fill: #fff;
}

/*Main Window*/
#menu {
    -fx-background-color: black;
    -fx-text-fill: #fff;
}

#view {
    -fx-background-color: #fff;
}

#tableViewContainer {
    -fx-background-color: #fff;
    -fx-text-fill: #19295e;
}

#insertOptions {
    -fx-background-color: #19295e;
    -fx-text-fill: #fff;
}

#errorLabel {
    -fx-text-fill: red;
}

#infoBox {
    -fx-background-color: #19295e;
    -fx-text-fill: red;
}